version: "3.7"

volumes:
  nhm:
    driver: local

networks:
  nhmnet:

services:
    
  base_image:
    build: 
      context: ./nhmusgs-base
      args:
        insecure: ""
      labels:
        - "gov.usgs.nhm.image.docker.application=NHM"
        - "gov.usgs.nhm.image.docker.type=Base Image"
    image: nhmusgs/base
    env_file:
      - nhm.env

  data_loader:
    build:
      context: ./nhmusgs-data-loader
      labels:
        - "gov.usgs.nhm.image.docker.application=NHM"
        - "gov.usgs.nhm.image.docker.type=Data Loader"
    image: nhmusgs/data-loader
    container_name: data-loader
    networks:
      nhmnet:
    env_file:
      - nhm.env
    volumes:
      - nhm:/var/lib/nhm

  gridmet:
    build:
      context: ./nhmusgs-gridmet
      labels:
        - "gov.usgs.nhm.image.docker.application=NHM"
        - "gov.usgs.nhm.image.docker.type=Gridmet Query"
    image: nhmusgs/gridmet
    container_name: gridmet
    env_file:
      - nhm.env
      
  ofp:
    build:
      context: ./nhmusgs-ofp
      labels:
        - "gov.usgs.nhm.image.docker.application=NHM"
        - "gov.usgs.nhm.image.docker.type=OFP"
    image: nhmusgs/ofp
    container_name: ofp
    env_file:
      - nhm.env
    volumes:
      - nhm:/var/lib/nhm

  ncf2cbh:
    build:
      context: ./nhmusgs-ncf2cbh
      labels:
        - "gov.usgs.nhm.image.docker.application=NHM"
        - "gov.usgs.nhm.image.docker.type=NCF2CBH"
    image: nhmusgs/ncf2cbh
    container_name: ncf2cbh
    env_file:
      - nhm.env
    volumes:
      - nhm:/var/lib/nhm

  nhm-prms:
    build:
      context: ./nhmusgs-nhm-prms
      labels:
        - "gov.usgs.nhm.image.docker.application=NHM"
        - "gov.usgs.nhm.image.docker.type=PRMS"
    image: nhmusgs/nhm-prms
    container_name: nhm-prms
    env_file:
      - nhm.env
    volumes:
      - nhm:/var/lib/nhm

  out2ncf:
    build:
      context: ./nhmusgs-nhm-out2ncf
      labels:
        - "gov.usgs.nhm.image.docker.application=NHM"
        - "gov.usgs.nhm.image.docker.type=OUT 2 NCF"
    image: nhmusgs/out2ncf
    container_name: out2ncf
    env_file:
      - nhm.env
    volumes:
      - nhm:/var/lib/nhm

  verifier:
    build:
      context: ./nhmusgs-verifier
      labels:
        - "gov.usgs.nhm.image.docker.application=NHM"
        - "gov.usgs.nhm.image.docker.type=Verifier"
    image: nhmusgs/verifier
    container_name: verifier
    env_file:
      - nhm.env
    volumes:
      - nhm:/var/lib/nhm

  thredds:
    image: unidata/thredds-docker:4.6.13
    ports:
      - "443:8443"
    container_name: thredds
    volumes:
      - ./thredds/files/logs/tomcat/:/usr/local/tomcat/logs/
      - ./thredds/files/logs/thredds/:/usr/local/tomcat/content/thredds/logs/
      - ./thredds/files/config/tomcat/tomcat-users.xml:/usr/local/tomcat/conf/tomcat-users.xml
      - ./thredds/files/config/tomcat/server.xml:/usr/local/tomcat/conf/server.xml
      - ./thredds/files/config/tomcat/ssl.crt:/usr/local/tomcat/conf/ssl.crt
      - ./thredds/files/config/tomcat/ssl.key:/usr/local/tomcat/conf/ssl.key
      - ./thredds/files/config/thredds/threddsConfig.xml:/usr/local/tomcat/content/thredds/threddsConfig.xml
      - ./thredds/files/config/thredds/enhancedCatalog.xml:/usr/local/tomcat/content/thredds/enhancedCatalog.xml
      - ./thredds/files/config/thredds/wmsConfig.xml:/usr/local/tomcat/content/thredds/wmsConfig.xml
      - ./thredds/files/contents/thredds/cache/:/usr/local/tomcat/content/thredds/cache/
      - ./output/Output/:/usr/local/tomcat/content/thredds/nhmdata/
    env_file:
      - "./thredds/compose.env"
